/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.left-block {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-block {
    display: block;
    margin-left: auto;
    margin-right: 0;
}